@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

body{
  background-color: #d7e0e2;
  color: #ffffff;
}

.navbarCls{
  background-color: #000000;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.navbarCls .linkCls{
  display: flex;
  gap: 20px;
 
}

.linkCls NavLink{
  text-decoration: none;
}

.searchCls{
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.searchCls input{
  height: 26px;
  width: 220px;
  border-radius: 3px;
  border: 2px solid #ffffff;
  padding-left: 10px;
}

.searchCls input:focus{
  outline:#000000;
  border: 2px solid blue;
}

.searchCls button{
  background-color: #000000;
  color: #b9afaf;
  height: 28px;
  padding: 0 12px;
  cursor: pointer;
  border: none;
  border-radius: 0 3px 3px 0;
}

.details_margin{
  margin-top: 30px;
}

.wordDetails_cla{
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 4px 5px 1px rgb(165, 162, 162);
  margin-bottom: 10px;
}

.history_class{
  background-color: #ffffff;
  margin-top: 10px;
  padding: 20px;
  color: #000000;
}

.history_class h2{
  margin-bottom: 10px;
}

.ulClass{
  list-style: none;
  text-decoration: none;
}

.showData_cls{
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 4px 5px 1px rgb(165, 162, 162);
  margin-bottom: 10px;
}